@import './base.css';
@import "./utils.css";

@font-face {
  font-family: 'Press Start 2P';
  src: url(PressStart2P-Regular.ttf);
}

#app {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(194,88,114, 0.1);
  }
}
